# frozen_string_literal: true

class <%= full_class_name %> < <%= abstract_component %>
  # Props that your component accepts
  prop :time, type: ::Time, default: -> { ::Time.now }

  after_initialize do
    # some initialization
  end
end
