# frozen_string_literal: true

class <%= full_class_name %> < <%= abstract_component %>
  # Props that your component accepts
  prop :description, type: ::String, default: -> { 'Default Description' }

  after_initialize do
    # some initialization
    @time = ::Time.now
  end
end
